/* Header */

header {
    margin-bottom: 150px;
}
  
.headerContainer {
  display: flex;
  align-items: flex-end;
  padding-top: 150px;
}
  
.titleContainer {
  width: 60%;
  z-index: 10;
}

.imageContainer {
  width: 40%;
}

img {
  width: 70%;
  animation: fadeinout 8s infinite;
  opacity: 0;
}

@keyframes fadeinout {
  50% { opacity: 1; }
}


/* Main: Prompt Section */

.promptEntry {
  margin-bottom: 100px;
  text-align: center;
}

.generatePrompt {
  background-color: $primaryColor;
  padding: 40px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.prompt {
  text-align: left;
}

.author {
  text-align: right;
}

h3:first-child {
  padding-bottom: 30px;
}

button.promptButton {
  margin: auto;
}

/* Main: Story Input Section */

.storyInput p {
  text-align: center;
  padding-bottom: 20px;
}

.characterLength {
  padding-top: 20px;
  font-size: 1.5rem;
}

textarea {
  width: 100%;
  height: 300px;
  border-radius: 10px 10px 0 0;
  padding: 20px;
  background-color: $primaryColor;
  font-size: 2rem;
  font-family: $primaryFont;
}

::placeholder {
  font-size: 2rem;
  font-family: $primaryFont;
}

.submitButton {
  width: 100%;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

/* Display Story Section */

.displayStory {
  margin-top: 100px;
}

.storyPost {
  background-color: $primaryColor;
  padding: 50px;
  border-radius: 10px;
}

h4 {
  color: $tertiaryColor;
  padding-bottom: 50px;
  border-bottom: 10px solid $tertiaryColor;
}

li p {
  padding: 50px 0;
  color: $tertiaryColor;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

li {
  width: calc(100% / 2 - 50px);
  position: relative;
  margin-bottom: 50px;
}

.placeholderText {
  background-color: $tertiaryColor;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
}

p.placeholderText {
  color: $secondaryColor;
}


/* Delete Button */

button.deleteButton {
  font-size: 4rem;
  color: $tertiaryColor;
  background-color: $primaryColor;
  position: absolute;
  left: 95%;
  bottom: 95%;
  border: 2px solid $tertiaryColor;
  border-radius: 50%;
  padding: 5px;
  width: 55px;
  height: 55px;
}


/* Footer */
footer p {
  text-align: center;
  padding: 20px 0;
  font-size: 1.5rem;
}

/* Media Queries */

/* Portrait tablet and small desktops */
@media (max-width: 940px) {

  .storyPost {
      padding: 30px;
  }

  button.deleteButton {
      left: 90%;
      bottom: 97%;
  }
  
}


@media (max-width: 860px) {

  li {
    width: 100%;
  }

  button.deleteButton {
    left: 95%;
    bottom: 95%;
  }

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {


  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 3rem;
  }

}


@media (max-width: 600px) {

  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

}

@media (max-width: 500px) {

  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 2rem;
  }

}

/* Landscape phones and down */
@media (max-width: 480px) {

  h1 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2rem;
  }

  button {
      font-size: 2rem;
  }

  .headerContainer {
      display: block;
      position: relative;
  }

  .titleContainer {
      position: relative;
      width: 100%;
      z-index: 10;
  }

  .imageContainer {
      position: absolute;
      left: 50%;
      bottom: 0%;
      z-index: inherit;
  }

  img {
      width: 80%;
  }

  .storyInput p,
  ::placeholder {
      font-size: 1.4rem;
  }

  .generatePrompt {
    padding: 20px;
  }

  button.deleteButton {
      left: 90%;
      bottom: 95%;
  }

}

@media (max-width: 360px) {

  h1 {
    font-size: 3rem;
  }

  h2 {
      font-size: 2rem;
  }

  h3,
  h4,
  p,
  button {
      font-size: 1.6rem;
  }

  button.deleteButton {
      left: 85%;
  }

}

/* Itsy bitsy phone */
@media (max-width: 320px) {

  header {
      margin-bottom: 100px;
  }

}