@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Roboto:wght@500&family=Rowdies&display=swap');


/* Setup */

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


/* Stripping Styles */

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  font-family: 'Courier Prime', monospace;
  border: none;
  cursor: pointer;
  padding: 10px 40px;
  font-size: 2.5rem;
  border-radius: 10px;
  color: white;
  background-color: #222222;
  border: 2px solid white;
  width: 100%;
  text-align: center;
}

button:hover {
  background-color: darkgrey;
}

button:focus {
  border: 2px solid #857baf;
}

/* General */

body {
  font-family: 'Courier Prime', monospace;
  color: white;
}

h1 {
  font-family: 'Rowdies', cursive;
  font-size: 8rem;
  color: white;
  text-transform: uppercase;
}

h2 {
  font-size: 3.2rem;
  color: white;
}

h3 {
  font-size: 3rem;
  color:#222222;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  color: white;
}

p {
  font-size: 2rem;
}

.App {
  background-color: rgb(31, 30, 30);
}


/* Header */

header {
  margin-bottom: 150px;
}

.headerContainer {
  display: flex;
  align-items: flex-end;
  padding-top: 100px;
}

.titleContainer {
  width: 60%;
  z-index: 10;
}

.imageContainer {
  width: 40%;
}

img {
  width: 70%;
  animation: fadeinout 8s infinite;
  opacity: 0;
}

@keyframes fadeinout {
  50% { opacity: 1; }
}

/* Main: Prompt Section */

.promptEntry {
  margin-bottom: 100px;
}

.generatePrompt {
  background-color: #DCD6F7;
  padding: 40px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.prompt {
  text-align: left;
}

.author {
  text-align: right;
}

h3:first-child {
  padding-bottom: 30px;
}

/* button.promptButton {
  width: 50%;
  text-align: center;
} */

/* Main: Story Input Section */

.storyInput p {
  text-align: center;
  padding-bottom: 20px;
}

.characterLength {
  padding-top: 20px;
  font-size: 1.5rem;
}

textarea {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  padding: 20px;
  background-color: #DCD6F7;
  font-size: 2rem;
  font-family: 'Courier Prime', monospace;
}

::placeholder {
  font-size: 2rem;
  font-family: 'Courier Prime', monospace;
}

/* button.submitButton {
  width: 100%;
  text-align: center;
} */

/* Display Story Section */

.displayStory {
  margin-top: 100px;
}

.storyPost {
  background-color: #DCD6F7;
  padding: 50px;
  border-radius: 10px;
}

h4 {
  color: #222222;
  padding-bottom: 50px;
  border-bottom: 10px solid #222222;
}

li p {
  padding-top: 50px;
  color: #222222;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  justify-content: space-between;
  width: calc(100% / 2 - 50px);
  position: relative;
  margin-right: 50px;
  margin-bottom: 50px;
}

/* Delete Button */

button.deleteButton {
  color: #222222;
  position: absolute;
  background-color: #DCD6F7;
  left: 97%;
  bottom: 90%;
  border-radius: 50%;
  padding: 15px;
  width: auto;
}